<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Numérologie - {{ subject }}</title>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <style>
            .card-title {
                text-align: center;
                font-weight: 300;
                font-size: 1.5rem;
                margin-bottom: 2rem;
            }
            h5 {
                font-size: 1.25rem;
                font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
                font-weight: 500;
                line-height: 1.2;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }
            hr.divider {
                border-color: #f4623a;
                margin-top: 0 !important;
                max-width: 100% !important;
                border-width: 3px !important;
            }
            .mb-5, .my-5 {
                margin-bottom: 3rem !important;
            }
            .mb-2 {
                margin-bottom: 1rem !important;
            }
            .my-4 {
                margin-bottom: 1.5rem !important;
            }
            .list-group {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                padding-left: 0;
                margin-bottom: 0;
            }
            .list-group-item:first-child {
                border-top-left-radius: 0.25rem;
                border-top-right-radius: 0.25rem;
            }
            .align-items-center {
                -webkit-box-align: center !important;
                -ms-flex-align: center !important;
                align-items: center !important;
            }
            .justify-content-between {
                -webkit-box-pack: justify !important;
                -ms-flex-pack: justify !important;
                justify-content: space-between !important;
            }
            .d-flex {
                display: -webkit-box !important;
                display: -ms-flexbox !important;
                display: flex !important;
            }
            .list-group-item {
                position: relative;
                display: block;
                padding: 0.75rem 1.25rem;
                background-color: #fff;
                border: 1px solid rgba(0, 0, 0, 0.125);
                margin-bottom: -1px;
            }
            .list-group-item p {
                padding: 0;
                margin-top: 0;
                margin-bottom: 0;
            }
            .badge-primary {
                color: #fff;
                background-color: #f4623a;
            }
            .badge-pill {
                padding-right: 0.6em;
                padding-left: 0.6em;
                border-radius: 10rem;
            }
            .badge {
                display: inline-block;
                padding: 0.25em 0.4em;
                font-weight: 700;
                line-height: 1;
                text-align: center;
                white-space: nowrap;
                vertical-align: baseline;
                border-radius: 0.25rem;
                -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
            }
            .progress {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                height: 2rem;
                overflow: hidden;
                font-size: 0.75rem;
                background-color: #e9ecef;
                border-radius: 0.25rem;
            }
            .progress:not(:first-of-type) {
                margin-top: 20px;
            }
            .bg-success {
                background-color: #28a745 !important;
            }
            .progress-bar-striped {
                background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
                background-size: 1rem 1rem;
            }
            .progress-bar {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                -ms-flex-direction: column;
                flex-direction: column;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                color: #fff;
                text-align: center;
                white-space: nowrap;
                background-color: #f4623a;
                -webkit-transition: width 0.6s ease;
                transition: width 0.6s ease;
            }
            .progress span {
                position: relative;
                right: -10px;
                color: #6c757d !important;
                top: 10px;
            }
            .bg-info {
                background-color: #17a2b8 !important;
            }
            .bg-warning {
                background-color: #ffc107 !important;
            }
            .bg-danger {
                background-color: #dc3545 !important;
            }
            .no-page-break {
                page-break-inside: avoid;
            }
            .break-after {
                page-break-after: always;
            }
            .logo {
                margin: auto;
                width: 40%;
                padding: 10px;
            }
            .logo img {
                width: 100%;
            }
            .centered {
                padding-top: 150px;
            }
            .card h3 {
                font-size: 1.6rem;
                font-weight: 600;
            }
            .text-center {
                text-align: center;
            }
            .btn-icon-split {
                padding: 0;
                overflow: hidden;
                display: -webkit-inline-box;
                display: -ms-inline-flexbox;
                display: inline-flex;
                -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                align-items: stretch;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                text-decoration: none;
            }
            .btn-icon-split .icon {
                display: inline-block;
                padding: 0.375rem 0.75rem;
            }
            .btn-icon-split .text {
                display: inline-block;
                padding: 0.375rem 0.75rem;
            }
            .btn-icon-split.red {
                background-color: #ff6962;
                color: white;
                border-color: #858796;
            }
            .btn-icon-split.red .icon {
                background: rgba(0, 0, 0, .10);
            }
            .btn-icon-split.orange {
                background-color: #ffcb99;
                color: white;
                border-color: #858796;
            }
            .btn-icon-split.orange .icon {
                background: rgba(0, 0, 0, .10);
            }
            .btn-icon-split.yellow {
                background-color: #fefec8;
                color: #858796;
                border-color: #858796;
            }
            .btn-icon-split.yellow .icon {
                background: rgba(0, 0, 0, .10);
            }
            .btn-icon-split.blue {
                background-color: #abe1fb;
                color: #858796;
                border-color: #858796;
            }
            .btn-icon-split.blue .icon {
                background: rgba(0, 0, 0, .10);
            }
            .btn-icon-split.grey {
                background-color: #e6e7ea;
                color: #858796;
                border-color: #858796;
            }
            .btn-icon-split.grey .icon {
                background: rgba(0, 0, 0, .10);
            }
            .vibrationsLegend {
                padding: 0;
            }
            .vibrationsLegend p {
                font-weight: bolder;
                font-size: 1.2em;
                padding: 5px;
                text-align: center;
            }
            .vibrationsTable {
                width: 250px;
                height: 250px;
            }
            .vibrationsTable tr:nth-child(1) td:nth-child(1) {
                border-radius: 10px 0px 0px 0px;
            }
            .vibrationsTable tr:nth-child(1) td:nth-child(3) {
                border-radius: 0px 10px 0px 0px;
            }
            .vibrationsTable tr:nth-child(3) td:nth-child(1) {
                border-radius: 0px 0px 0px 10px;
            }
            .vibrationsTable tr:nth-child(3) td:nth-child(3) {
                border-radius: 0px 0px 10px 0px;
            }
            .vibrationsTable td {
                width: 40px;
                height: 40px;
                text-align: center;
            }
            .vibrationsTable td.red, .vibrationsLegend p.red, .vibrationsLegend span.red {
                background-color: #ff6962;
                color: white;
            }
            .vibrationsTable td.orange, .vibrationsLegend p.orange, .vibrationsLegend span.orange {
                background-color: #ffcb99;
                color: white;
            }
            .vibrationsTable td.yellow, .vibrationsLegend p.yellow, .vibrationsLegend span.yellow {
                background-color: #fefec8;
                color: #858796;
            }
            .vibrationsTable td.blue, .vibrationsLegend p.blue, .vibrationsLegend span.blue {
                background-color: #abe1fb;
                color: #858796;
            }
            p.subtitle {
                font-size: 1rem !important;
                font-style: italic;
            }
            .no-page-break {
                page-break-after: avoid;
            }
            .break-after {
                page-break-after: always;
            }
            .progress {
                border-radius: 0;
            }
            .progress-bar-right {
                float: right;
                display: block;
            }
            .font-weight-bold {
                font-size: x-large;
            }
            .text-justify {
                text-align: justify;
            }
        </style>
    </head>

    <body>
        <div class="container break-after centered">
            <h1 class="card-title text-center mb-0">Numérologie Essentielle</h1>
            <h2 class="card-subtitle text-center mb-0"><em>Héritages et parcours de vie</em></h2>

            <div class="logo">
                <img src="{{ path ~ asset('bundles/site/img/Logo-photoshop.png') }}" alt="Logo" />
            </div>

            <h4 class="card-title text-center mb-0">
                {{ subject }}
            </h4>
            <h4 class="card-subtitle text-center mb-0">
                {% if subject.pseudos is not empty and subject.pseudos.0|default %}
                    {{ subject.pseudos|join(', ') }}<br>
                {% endif %}
                <small>{{ subject.birthDate|localizeddate('long', 'short', 'fr') }} (UTC {{ subject.UTCBirthDate|date('d/m/Y H:i:s') }}), {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</small>
            </h4>
        </div>

        <div class="container no-page-break">
            <div class="row">
                <div class="col-12 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <div class="row break-after">
                                <div class="col-md-12 mb-5 mt-4 text-justify centered font-weight-bold">
                                    <br>
                                    <p class="mt-4">
                                        Cette analyse numérologique prend en compte votre identité et vos paramètres de naissance.
                                    </p>
                                    <p class="mt-2">
                                        L'identité est une composante de votre personnalité qui vous a été imposée à la naissance (le nom par votre famille et votre prénom par vos parents) ou que vous avez choisie ensuite (par mariage ou changement volontaire de nom ou de prénom).
                                    </p>
                                    <p class="mt-2">
                                        La vibration de cette identité, dans ses aspects négatifs et positifs, se construit avec le temps pour faire partie intégrante de la personnalité de l'individu. Mais il arrive, du fait des circonstances propres à chacun, que cette symbiose ne fonctionne pas, ce qui peut expliquer certaines impressions de mal-être.
                                    </p>
                                    <p class="mt-2">
                                        Le parcours de vie prend en compte la date, l'heure et le lieu de naissance. C'est un cheminement qui s'effectue tantôt du côté positif et tantôt du côté négatif, le rôle de chacun étant d'essayer de rester sur le versant lumineux du parcours.
                                    </p>
                                    <p class="mt-2">
                                        L'intérêt de cette analyse est de vous offrir des repères existentiels pour vous aider à avancer. Elle n'est en aucun cas une manière de coller une étiquette mais au contraire un moyen supplémentaire d'exercer votre libre-arbitre.
                                    </p>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <h3 class="text-center">Identité</h3>
                                    <hr class="divider mt-4 underline-divider">
                                    <p class="subtitle font-weight-light mb-4 mt-0">Vos parents vous ont fourni votre identité mais c'est vous qui la construisez... ou qui en changez.</p>

                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombre global</strong>
                                            <span class="badge badge-primary badge-pill">{{ subject.data.identity.globalNumber }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>{{ getDefinition('global')|raw }}</p>
                                                <br>
                                                <p>{{ subject.data.identity.globalNumber|getAnalysis('global')|raw }}</p>
                                            </div>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombre héréditaire</strong>
                                            <span class="badge badge-primary badge-pill">{{ subject.data.identity.inheritedNumber }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2 break-after">
                                            <div>
                                                <p>{{ getDefinition('inherited')|raw }}</p>
                                                <br>
                                                <p>{{ subject.data.identity.inheritedNumber|getAnalysis('inherited')|raw }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombre de mission</strong>
                                            <span class="badge badge-primary badge-pill">{{ subject.data.identity.dutyNumber }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>{{ getDefinition('duty')|raw }}</p>
                                                <br>
                                                <p>{{ subject.data.identity.dutyNumber|getAnalysis('duty')|raw }}</p>
                                            </div>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombre social</strong>
                                            <span class="badge badge-primary badge-pill">{{ subject.data.identity.socialNumber }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>{{ getDefinition('social')|raw }}</p>
                                                <br>
                                                <p>{{ subject.data.identity.socialNumber|getAnalysis('social')|raw }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombre de structure</strong>
                                            <span class="badge badge-primary badge-pill">{{ subject.data.identity.structureNumber }}</span>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>{{ getDefinition('structure')|raw }}</p>
                                                <br>
                                                <p>{{ subject.data.identity.structureNumber|getAnalysis('structure')|raw }}</p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <h3 class="text-center">Lettres</h3>
                                    <hr class="divider my-4 underline-divider">
                                    <p class="text-justify subtitle font-weight-light mb-4 mt-0">Les lettres composant votre identité sont classées selon leur vibration physique, émotive, cérébrale ou intuitive. L'importance de chacune de ces catégories dans votre identité construit une vibration qui influence plus ou moins votre comportement. Cette vibration est différente si vous ne prenez en compte que votre identité publique (apparente) ou votre identité complète (avec tous les noms et prénoms).</p>

                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Votre personnalité apparente : nom et prénom d'usage</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>La personnalité apparente est celle que les autres connaissent et dont ils ressentent la vibration, qui n’est pas forcément identique à celle donnée par votre identité complète.</p>

                                                <br>

                                                {% if lettersSynthesis.public|default and lettersSynthesis.public|length == 1 %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans})|raw }}
                                                    </p>
                                                {% elseif lettersSynthesis.public|default and lettersSynthesis.public|length > 1 %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.1)|trans})|raw }}
                                                    </p>
                                                {% else %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.public'|transchoice(0)|raw }}
                                                    </p>
                                                {% endif %}

                                                <br>

                                                {% if lettersDifferences.public|default %}
                                                    <ul>
                                                        {% for index, value in lettersDifferences.public %}
                                                            <li>
                                                                <strong>{{ ('analysis.show.letters.details.'~index)|trans }} : {% if value > 0 %}+{% endif %}{{ value }} %</strong> (relativement à la moyenne)
                                                                <br>
                                                                {{ ('analysis.show.letters.'~index~'.'~(value >= 0 ? 'excess' : 'lack'))|trans|raw }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Votre personnalité réelle : tous les noms et prénoms</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>C’est en intégrant votre identité complète que l’on peut connaître les véritables moteurs de votre comportement.</p>

                                                <br>

                                                {% if lettersSynthesis.private|default and lettersSynthesis.private|length == 1 %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersSynthesis.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.0)|trans})|raw }}
                                                    </p>
                                                {% elseif lettersSynthesis.private|default and lettersSynthesis.private|length > 1 %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersSynthesis.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.1)|trans})|raw }}
                                                    </p>
                                                {% else %}
                                                    <p>
                                                        {{ 'analysis.show.letters.synthesis.private'|transchoice(0)|raw }}
                                                    </p>
                                                {% endif %}

                                                <br>

                                                {% if lettersDifferences.private|default %}
                                                    <ul>
                                                        {% for index, value in lettersDifferences.private %}
                                                            <li>
                                                                <strong>{{ ('analysis.show.letters.details.'~index)|trans|raw }} : {% if value > 0 %}+{% endif %}{{ value }} %</strong> (relativement à la moyenne)
                                                                <br>
                                                                {{ ('analysis.show.letters.'~index~'.'~(value >= 0 ? 'excess' : 'lack'))|trans|raw }}</li>
                                                        {% endfor %}
                                                    </ul>
                                                {% endif %}
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <h3 class="text-center">Vibrations</h3>
                                    <hr class="divider my-4 underline-divider">

                                    {% set fullNames = subject.fullNames|replace({' ': ''}) %}

                                    <ul class="list-group">
                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Synthèse de vos vibrations de soutien</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p><strong>Les nombres les plus fréquents (nombres forts) ont une influence importante sur la personnalité et le comportement de l’individu, tandis que ceux qui sont manquants ne soutiennent pas la vibration des noms et prénoms.</strong></p>
                                                <br>
                                                <ul>
                                                    {% if identity['strong']|default|length > 0 %}
                                                        <li>{{ 'analysis.show.vibrations.identity.strong'|transchoice(identity['strong']|length, {'%1%': identity['strong']|natJoin(', '), '%2%' : identity['strong']|keys|natJoin(', ')})|raw }}</li>
                                                    {% endif %}

                                                    {% if identity['missingIn']|default|length > 0 or identity['missingOut']|default|length > 0 %}
                                                        <li>Nombres manquants :
                                                            <ul>
                                                                {% if identity['missingIn']|default|length > 0 %}
                                                                    <li>{{ 'analysis.show.vibrations.identity.missingIn'|transchoice(identity['missingIn']|length, {'%1%': identity['missingIn']|keys|natJoin(', '), '%2%': identity['missingIn']|natJoin(', '), '%3%': identity['missingIn']|natJoin(', ')})|raw }}</li>
                                                                {% endif %}

                                                                {% if identity['missingOut']|default|length > 0 %}
                                                                    <li>{{ 'analysis.show.vibrations.identity.missingOut'|transchoice(identity['missingOut']|length, {'%1%': identity['missingOut']|natJoin(', ')}) }}</li>
                                                                {% endif %}
                                                            </ul>
                                                        </li>
                                                    {% endif %}

                                                    {% if identity['weak']|default|length > 0 %}
                                                        <li>{{ 'analysis.show.vibrations.identity.weak'|transchoice(identity['weak']|length, {'%1%': identity['weak']|keys|natJoin(', ')}) }}</li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Rappel des nombres de votre identité</strong>
                                        </li>
                                        <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                            <div>
                                                <p>
                                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.globalNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFortes %}red{% else %}grey{% endif %}">
                                                        <span class="icon">{{ subject.data.identity.globalNumber }}</span>
                                                        <span class="text">Global</span>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.inheritedNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFortes %}red{% else %}grey{% endif %}">
                                                        <span class="icon">{{ subject.data.identity.inheritedNumber }}</span>
                                                        <span class="text">Héréditaire</span>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.dutyNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFortes %}red{% else %}grey{% endif %}">
                                                        <span class="icon">{{ subject.data.identity.dutyNumber }}</span>
                                                        <span class="text">Mission</span>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.socialNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFortes %}red{% else %}grey{% endif %}">
                                                        <span class="icon">{{ subject.data.identity.socialNumber }}</span>
                                                        <span class="text">Social</span>
                                                    </a>
                                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.structureNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFortes %}red{% else %}grey{% endif %}">
                                                        <span class="icon">{{ subject.data.identity.structureNumber }}</span>
                                                        <span class="text">Structure</span>
                                                    </a>
                                                </p>
                                            </div>
                                        </li>

                                        <li class="list-group-item d-flex justify-content-between align-items-center">
                                            <strong>Nombres forts, manquants et faibles</strong>
                                        </li>
                                        <li class="list-group-item d-flex align-items-center mb-2">
                                            <div class="vibrationsLegend">
                                                <table class="vibrationsTable mx-auto">
                                                    <tr>
                                                        {% for i in 1..9 %}
                                                        <td class="{% if i in fullNames|numerosLettresManquantes %}blue{% elseif i in fullNames|numerosLettresFaibles %}yellow{% elseif i in fullNames|numerosLettresMoyennes %}orange{% elseif i in fullNames|numerosLettresFortes %}red{% endif %}">{{ i }}</td>
                                                        {% if i % 3 == 0 and i < 9 %}
                                                    </tr>

                                                    <tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tr>
                                                </table>
                                                <br>
                                                <p>
                                                    <span class="badge red badge-pill ">&nbsp;</span>
                                                    <small>Forts</small>
                                                    <span class="badge orange badge-pill ">&nbsp;</span>
                                                    <small>Moyens</small>
                                                    <span class="badge yellow badge-pill ">&nbsp;</span>
                                                    <small>Faibles</small>
                                                    <span class="badge blue badge-pill ">&nbsp;</span>
                                                    <small>Manquants</small>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <h3 class="text-center">Parcours de vie</h3>
                                    <hr class="divider mt-4 underline-divider">
                                    <p class="subtitle font-weight-light mb-0 mt-0">Entre les rails du chemin de vie vous avancez du côté positif ou du côté négatif selon vos choix ou les aléas du destin.</p>

                                    <p class="subtitle font-weight-light mb-4 mt-0">Récapitulatif de vos paramètres de naissance :<br> {{ subject.UTCBirthDate|date('d/m/Y H:i:s', 'GMT') }}, {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</p>

                                    <div class="row">
                                        <ul class="list-group col-md-12">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Chemin de vie</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.lifePathNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('lifepath')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.lifePathNumber|getAnalysis('lifepath')|raw }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <h3 class="text-center">Parcours de vie</h3>
                                    <hr class="divider mt-4 underline-divider">
                                    <p class="subtitle font-weight-light mb-0 mt-0">Entre les rails du chemin de vie vous avancez du côté positif ou du côté négatif selon vos choix ou les aléas du destin.</p>

                                    <p class="subtitle font-weight-light mb-4 mt-0">Récapitulatif de vos paramètres de naissance :<br> {{ subject.UTCBirthDate|date('d/m/Y H:i:s', 'GMT') }}, {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</p>

                                    <div class="row">
                                        <ul class="list-group col-md-12">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre d'idéal</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.idealNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('ideal')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.idealNumber|getAnalysis('ideal')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Cycles de vie</strong>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('ideal')|raw }}
                                                    <br>
                                                    Ils varient selon les personnes en fonction de la numérologie de chacun.<br>Mais ils peuvent aussi être étroitement liés à la lignée familiale comme le démontre la psychogénéalogie. Dans ce cas, on observe un parallèle parfois très fort entre les cycles de sa propre vie et ceux de ses ascendants plus ou moins proches.<br>Cette loyauté familiale peut représenter un barrage à sa propre réalisation personnelle, qu'il peut être utile de mettre en lumière, de comprendre et de résoudre.<br>
                                                    Voici les nombres représentant les repères et les durées de vos cycles de vie :
                                                    <ul>
                                                        <li>
                                                            Nombres très forts :
                                                            <ul>
                                                                <li>Votre <strong>tournant majeur</strong> : {{ subject.data.lifePath.majorTurnNumber }} ans.</li>
                                                                <li>Le <strong>Feng Shui</strong> met en évidence des périodes de <strong>20 ans</strong>. La période actuelle a débuté en février <strong>2004</strong> et prendra fin en février <strong>2024</strong>.</li>
                                                                <li>Les cycles des <strong>années personnelles</strong>, s'étendant sur <strong>9 ans</strong>, il faut en tenir compte pour s'insérer dans le flux énergétique positif de votre année personnelle.</li>
                                                                <li>Le nombre de votre <strong>chemin de vie</strong> : {{ subject.data.lifePath.lifePathNumber }}.</li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            Autres nombres actifs :
                                                            <ul>
                                                                <li>Les cycles annuels du Feng Shui, débutant le 4 février de chaque année.</li>
                                                                <li>Les nombres du <strong>jour de naissance</strong> ({{ subject.birthDate|date('d') }}) ou du <strong>mois de naissance</strong> ({{ subject.birthDate|date('m') }}).</li>
                                                                <li>33 : La place du soleil dans le ciel est la même tous les 33 ans. Cela signifie que les influences astrologiques sont les mêmes aujourd’hui que 33 ans auparavant, en particulier si l’on vit au même endroit.
                                                                    <br>Du point de vue pratique, la trente-troisième année peut alors correspondre à une seconde naissance. Par ailleurs, il est possible que l'on vive le même type de situations ou de sensations à 33 ans d'intervalle. Que viviez-vous il y a 33 ans ?
                                                                    <br>Exemple : le 1er janvier 1986, je déménageai, quittant un mode de vie citadin à Marseille vers quelque chose de plus rural. Le 28 décembre 2018 (33 ans à quelques jours près), j’ai déménagé pour un nouveau changement de vie, laissant Trébeurden, une station balnéaire et touristique, pour retrouver la campagne à Loqueffret.
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row break-after">
                                <div class="col-md-12 mb-5">
                                    <div class="row">
                                        <ul class="list-group col-md-12">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Tournant majeur</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.majorTurnNumber }} ans</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('majorturn')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Année personnelle {{ "now"|date('Y') }}</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.personalYearNowNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('personalyearnow')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.personalYearNowNumber|getAnalysis('personalyearnow')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre secret</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.secretNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('secret')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.secretNumber|getAnalysis('secret')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre astrologique</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.astrologicalNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('astrological')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.astrologicalNumber|getAnalysis('astrological')|raw }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 mb-5">
                                    <div class="row">
                                        <ul class="list-group col-md-12">
                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre du très court terme</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.veryShortTermNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('veryshortterm')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.veryShortTermNumber|getAnalysis('veryshortterm')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre du court terme</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.shortTermNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('shortterm')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.shortTermNumber|getAnalysis('shortterm')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre du moyen terme</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.meanTermNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('meanterm')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.meanTermNumber|getAnalysis('meanterm')|raw }}
                                                </div>
                                            </li>

                                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                                <strong>Nombre du long terme</strong>
                                                <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.longTermNumber }}</span>
                                            </li>
                                            <li class="list-group-item d-flex justify-content-between align-items-center mb-2">
                                                <div>
                                                    {{ getDefinition('longterm')|raw }}
                                                    <br>
                                                    {{ subject.data.lifePath.longTermNumber|getAnalysis('longterm')|raw }}
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
