<div class="col-md-12 mb-5">
    <h5>Vibrations</h5>
    <hr class="divider my-4 underline-divider">

    {% set fullNames = subject.fullNames|replace({' ': ''}) %}

    <div class="accordion mb-2 premium-only" id="accordionVibrationsSynthesis">
        <div class="card">
            <div class="card-header" id="headingVibrationsSynthesis">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseVibrationsSynthesis" aria-expanded="true" aria-controls="collapseVibrationsSynthesis">
                        Synthèse de vos vibrations de soutien
                    </a>
                </h6>
            </div>

            <div id="collapseVibrationsSynthesis" class="collapse" aria-labelledby="headingVibrationsSynthesis" data-parent="#accordionVibrationsSynthesis">
                <div class="card-body">
                    <p>
                        <strong>Les nombres les plus fréquents (nombres forts) ont une influence importante sur la personnalité et le comportement de l’individu, tandis que ceux qui sont manquants ne soutiennent pas la vibration des noms et prénoms.</strong>
                    </p>

                    <p>Cette information est disponible dans l'étude complète ou dans <a href="https://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" class="btn-link">la Numérologie essentielle - Héritages et parcours de vie</a>.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 accordion mb-2" id="accordionReminder">
            <div class="card">
                <div class="card-header" id="headingReminder">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseReminder" aria-expanded="true" aria-controls="collapseReminder">
                            Rappel des nombres de votre identité
                        </a>
                    </h6>
                </div>

                <div id="collapseReminder" class="collapse" aria-labelledby="headingReminder">
                    <div class="card-body text-center">
                        <p>
                            <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.globalNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                <span class="icon">{{ subject.data.identity.globalNumber }}</span>
                                <span class="text">Global</span>
                            </a>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.inheritedNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                        <span class="icon">{{ subject.data.identity.inheritedNumber }}</span>
                                        <span class="text">Héréditaire</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.dutyNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                        <span class="icon">{{ subject.data.identity.dutyNumber }}</span>
                                        <span class="text">Mission</span>
                                    </a>
                                </p>
                            </div>

                            <div class="col-md-6">
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.socialNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                        <span class="icon">{{ subject.data.identity.socialNumber }}</span>
                                        <span class="text">Social</span>
                                    </a>
                                </p>
                                <p>
                                    <a href="javascript:void(0);" class="btn btn-icon-split disabled-btn {% if subject.data.identity.structureNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                        <span class="icon">{{ subject.data.identity.structureNumber }}</span>
                                        <span class="text">Structure</span>
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 accordion mb-2" id="accordionNumbers">
            <div class="card">
                <div class="card-header" id="headingNumbers">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseNumbers" aria-expanded="true" aria-controls="collapseNumbers">
                            Nombres forts, manquants et faibles
                        </a>
                    </h6>
                </div>

                <div id="collapseNumbers" class="collapse" aria-labelledby="headingNumbers">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="vibrationsTable mx-auto">
                                    <tr>
                                        {% for i in 1..9 %}
                                        <td class="{% if i in fullNames|numerosLettresManquantes %}blue{% elseif i in fullNames|numerosLettresFaibles %}yellow{% elseif i in fullNames|numerosLettresMoyennes %}orange{% elseif i in fullNames|numerosLettresFortes %}red{% endif %}">{{ i }}</td>
                                        {% if i % 3 == 0 and i < 9 %}
                                    </tr>

                                    <tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tr>
                                </table>
                            </div>

                            <div class="col-md-12 vibrationsLegend">
                                <p>
                                    <span class="badge red badge-pill ">&nbsp;</span>
                                    <small>Forts</small>
                                    <span class="badge orange badge-pill ">&nbsp;</span>
                                    <small>Moyens</small>
                                    <span class="badge yellow badge-pill ">&nbsp;</span>
                                    <small>Faibles</small>
                                    <span class="badge blue badge-pill ">&nbsp;</span>
                                    <small>Manquants</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>