<div class="col-md-12 mb-5">
    <h5 class="text-center">Parcours de vie</h5>
    <hr class="divider mt-4 underline-divider">
    <p class="text-center subtitle font-weight-light mb-0 mt-0">Entre les rails du chemin de vie</p>
    <p class="text-center subtitle font-weight-light mb-0 mt-0">Vous avancez du côté positif ou du côté négatif</p>
    <p class="text-center subtitle font-weight-light mb-4 mt-0">Selon vos choix ou les aléas du destin</p>

    <div class="row mb-4 mx-auto">
        {% include '@Site/Default/illustrated_lifepath.html.twig' with {'subject': subject} %}
    </div>

    <p class="text-center subtitle font-weight-light mb-4 mt-0">Récapitulatif de vos paramètres de naissance :<br> {{ subject.birthDate|date('d/m/Y H:i:s') }} (UTC {{ subject.UTCBirthDate|date('d/m/Y H:i:s', 'GMT') }}), {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</p>

    <div class="row">
        <div class="accordion mb-2 col-md-12" id="accordionLifePath">
            <div class="card">
                <div class="card-header" id="headingLifePath">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseLifePath" aria-expanded="true" aria-controls="collapseLifePath">
                            Chemin de vie
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.lifePathNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseLifePath" class="collapse" aria-labelledby="headingLifePath" data-parent="#accordionLifePath">
                    <div class="card-body">
                        <p>{{ getDefinition('lifepath')|raw }}</p>
                        <p>{{ subject.data.lifePath.lifePathNumber|getAnalysis('lifepath')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionCycles">
            <div class="card">
                <div class="card-header" id="headingCycles">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseCycles" aria-expanded="true" aria-controls="collapseCycles">
                            Les cycles de votre chemin de vie
                        </a>
                    </h6>
                </div>

                <div id="collapseCycles" class="collapse" aria-labelledby="headingCycles" data-parent="#accordionCycles">
                    <div class="card-body">
                        <p>Ils varient selon les personnes en fonction de la numérologie de chacun.<br>Mais ils peuvent aussi être étroitement liés à la lignée familiale comme le démontre la psychogénéalogie. Dans ce cas, on observe un parallèle parfois très fort entre les cycles de sa propre vie et ceux de ses ascendants plus ou moins proches.<br>Cette loyauté familiale peut représenter un barrage à sa propre réalisation personnelle, qu'il peut être utile de mettre en lumière, de comprendre et de résoudre.</p>
                        <p>Voici les nombres représentant les repères et les durées de vos cycles de vie :</p>
                        <ul>
                            <li>
                                Nombres très forts :
                                <ul>
                                    <li>Votre <strong>tournant majeur</strong> : {{ subject.data.lifePath.majorTurnNumber }} ans.</li>
                                    <li>Le <strong>Feng Shui</strong> met en évidence des périodes de <strong>20 ans</strong>. La période actuelle a débuté en février <strong>2004</strong> et prendra fin en février <strong>2024</strong>.</li>
                                    <li>Les cycles des <strong>années personnelles</strong>, s'étendant sur <strong>9 ans</strong>, il faut en tenir compte pour s'insérer dans le flux énergétique positif de votre année personnelle.</li>
                                    <li>Le nombre de votre <strong>chemin de vie</strong> : {{ subject.data.lifePath.lifePathNumber }}.</li>
                                </ul>
                            </li>
                            <li>
                                Autres nombres actifs :
                                <ul>
                                    <li>Les cycles annuels du Feng Shui, débutant le 4 février de chaque année.</li>
                                    <li>Les nombres du <strong>jour de naissance</strong> ({{ subject.birthDate|date('d') }}) ou du <strong>mois de naissance</strong> ({{ subject.birthDate|date('m') }}).</li>
                                    <li>33 : La place du soleil dans le ciel est la même tous les 33 ans. Cela signifie que les influences astrologiques sont les mêmes aujourd’hui que 33 ans auparavant, en particulier si l’on vit au même endroit.
                                        <br>Du point de vue pratique, la trente-troisième année peut alors correspondre à une seconde naissance. Par ailleurs, il est possible que l'on vive le même type de situations ou de sensations à 33 ans d'intervalle. Que viviez-vous il y a 33 ans ?
                                        <br>Exemple : le 1er janvier 1986, je déménageai, quittant un mode de vie citadin à Marseille vers quelque chose de plus rural. Le 28 décembre 2018 (33 ans à quelques jours près), j’ai déménagé pour un nouveau changement de vie, laissant Trébeurden, une station balnéaire et touristique, pour retrouver la campagne à Loqueffret.
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionIdeal">
            <div class="card">
                <div class="card-header" id="headingIdeal">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseIdeal" aria-expanded="true" aria-controls="collapseIdeal">
                            Nombre d'idéal
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.idealNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseIdeal" class="collapse" aria-labelledby="headingIdeal" data-parent="#accordionIdeal">
                    <div class="card-body">
                        <p>{{ getDefinition('ideal')|raw }}</p>
                        <p>{{ subject.data.lifePath.idealNumber|getAnalysis('ideal')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionMajorTurn">
            <div class="card">
                <div class="card-header" id="headingMajorTurn">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseMajorTurn" aria-expanded="true" aria-controls="collapseMajorTurn">
                            Tournant majeur
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.majorTurnNumber }} ans</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseMajorTurn" class="collapse" aria-labelledby="headingMajorTurn" data-parent="#accordionMajorTurn">
                    <div class="card-body">
                        <p>{{ getDefinition('majorturn')|raw }}</p>
                        <p>{{ subject.data.lifePath.majorTurnNumber|getAnalysis('majorturn')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionPersonalYearNow">
            <div class="card">
                <div class="card-header" id="headingPersonalYearNow">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapsePersonalYearNow" aria-expanded="true" aria-controls="collapsePersonalYearNow">
                            Année personnelle {{ "now"|date('Y') }}
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.personalYearNowNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapsePersonalYearNow" class="collapse" aria-labelledby="headingPersonalYearNow" data-parent="#accordionPersonalYearNow">
                    <div class="card-body">
                        <p>{{ getDefinition('personalyearnow')|raw }}</p>
                        <p>{{ subject.data.lifePath.personalYearNowNumber|getAnalysis('personalyearnow')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionSecret">
            <div class="card">
                <div class="card-header" id="headingSecret">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseSecret" aria-expanded="true" aria-controls="collapseSecret">
                            Nombre secret
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.secretNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseSecret" class="collapse" aria-labelledby="headingSecret" data-parent="#accordionSecret">
                    <div class="card-body">
                        <p>{{ getDefinition('secret')|raw }}</p>
                        <p>{{ subject.data.lifePath.secretNumber|getAnalysis('secret')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionAstrological">
            <div class="card">
                <div class="card-header" id="headingAstrological">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseAstrological" aria-expanded="true" aria-controls="collapseAstrological">
                            Nombre astrologique
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.astrologicalNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseAstrological" class="collapse" aria-labelledby="headingAstrological" data-parent="#accordionAstrological">
                    <div class="card-body">
                        <p>{{ getDefinition('astrological')|raw }}</p>
                        <p>{{ subject.data.lifePath.astrologicalNumber|getAnalysis('astrological')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionVeryShortTerm">
            <div class="card">
                <div class="card-header" id="headingVeryShortTerm">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseVeryShortTerm" aria-expanded="true" aria-controls="collapseVeryShortTerm">
                            Nombre du très court terme
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.veryShortTermNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseVeryShortTerm" class="collapse" aria-labelledby="headingVeryShortTerm" data-parent="#accordionVeryShortTerm">
                    <div class="card-body">
                        <p>{{ getDefinition('veryshortterm')|raw }}</p>
                        <p>{{ subject.data.lifePath.veryShortTermNumber|getAnalysis('veryshortterm')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionShortTerm">
            <div class="card">
                <div class="card-header" id="headingShortTerm">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseShortTerm" aria-expanded="true" aria-controls="collapseShortTerm">
                            Nombre du court terme
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.shortTermNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseShortTerm" class="collapse" aria-labelledby="headingShortTerm" data-parent="#accordionShortTerm">
                    <div class="card-body">
                        <p>{{ getDefinition('shortterm')|raw }}</p>
                        <p>{{ subject.data.lifePath.shortTermNumber|getAnalysis('shortterm')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionMeanTerm">
            <div class="card">
                <div class="card-header" id="headingMeanTerm">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseMeanTerm" aria-expanded="true" aria-controls="collapseMeanTerm">
                            Nombre du moyen terme
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.meanTermNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseMeanTerm" class="collapse" aria-labelledby="headingMeanTerm" data-parent="#accordionMeanTerm">
                    <div class="card-body">
                        <p>{{ getDefinition('meanterm')|raw }}</p>
                        <p>{{ subject.data.lifePath.meanTermNumber|getAnalysis('meanterm')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion mb-2 col-md-12" id="accordionLongTerm">
            <div class="card">
                <div class="card-header" id="headingLongTerm">
                    <h6 class="mb-0">
                        <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseLongTerm" aria-expanded="true" aria-controls="collapseLongTerm">
                            Nombre du long terme
                            <span class="badge badge-primary badge-pill">{{ subject.data.lifePath.longTermNumber }}</span>
                        </a>
                    </h6>
                </div>

                <div id="collapseLongTerm" class="collapse" aria-labelledby="headingLongTerm" data-parent="#accordionLongTerm">
                    <div class="card-body">
                        <p>{{ getDefinition('longterm')|raw }}</p>
                        <p>{{ subject.data.lifePath.longTermNumber|getAnalysis('longterm')|raw }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>