<div class="col-md-12 mb-5">
    <h5>Vibrations</h5>
    <hr class="divider my-4 underline-divider">

    {% set fullNames = subject.fullNames|replace({' ': ''}) %}

    <div class="accordion mb-2" id="accordionLength">
        <div class="card">
            <div class="card-header" id="headingLength">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseLength" aria-expanded="true" aria-controls="collapseLength">
                        Nombre total de lettres
                        <span class="badge badge-primary badge-pill">{{ fullNames|length }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseLength" class="collapse" aria-labelledby="headingLength" data-parent="#accordionLength">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('total')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionNombreMoyen">
        <div class="card">
            <div class="card-header" id="headingNombreMoyen">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseNombreMoyen" aria-expanded="true" aria-controls="collapseNombreMoyen">
                        Nombre moyen de présence de chaque lettre
                        <span class="badge badge-primary badge-pill">{{ fullNames|nombreMoyenLettres|number_format(1, '.', ' ') }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseNombreMoyen" class="collapse" aria-labelledby="headingNombreMoyen" data-parent="#accordionNombreMoyen">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('meanLetter')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionMissing">
        <div class="card">
            <div class="card-header" id="headingMissing">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseMissing" aria-expanded="true" aria-controls="collapseMissing">
                        Nombres manquants
                        <span class="badge badge-primary badge-pill">{{ fullNames|numerosLettresManquantes|join(', ') }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseMissing" class="collapse" aria-labelledby="headingMissing" data-parent="#accordionMissing">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('missing')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionWeak">
        <div class="card">
            <div class="card-header" id="headingWeak">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseWeak" aria-expanded="true" aria-controls="collapseWeak">
                        Nombres faibles
                        <span class="badge badge-primary badge-pill">{{ fullNames|numerosLettresFaibles|join(', ') }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseWeak" class="collapse" aria-labelledby="headingWeak" data-parent="#accordionWeak">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('weak')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionStrong">
        <div class="card">
            <div class="card-header" id="headingStrong">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseStrong" aria-expanded="true" aria-controls="collapseStrong">
                        Nombres forts
                        <span class="badge badge-primary badge-pill">{{ fullNames|numerosLettresFortes|join(', ') }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseStrong" class="collapse" aria-labelledby="headingStrong" data-parent="#accordionStrong">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('strong')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionAverage">
        <div class="card">
            <div class="card-header" id="headingAverage">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapseAverage" aria-expanded="true" aria-controls="collapseAverage">
                        Nombres moyens
                        <span class="badge badge-primary badge-pill">{{ fullNames|numerosLettresMoyennes|join(', ') }}</span>
                    </a>
                </h6>
            </div>

            <div id="collapseAverage" class="collapse" aria-labelledby="headingAverage" data-parent="#accordionAverage">
                <div class="card-body">
                    <p><small><em>{{ getDefinition('mean')|raw }}</em></small></p>
                    <p>XXX</p>
                </div>
            </div>
        </div>
    </div>
</div>