<div class="col-md-12 mb-5">
    <h5 class="text-center">Lettres</h5>
    <hr class="divider my-4 underline-divider">

    <div class="accordion mb-2" id="accordionPublic">
        <div class="card">
            <div class="card-header" id="headingPublic">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapsePublic" aria-expanded="true" aria-controls="collapsePublic">
                        Votre personnalité apparente : nom et prénom d'usage
                    </a>
                </h6>
            </div>

            <div id="collapsePublic" class="collapse" aria-labelledby="headingPublic" data-parent="#accordionPublic">
                <div class="card-body">
                    <p>La personnalité apparente est celle que les autres connaissent et dont ils ressentent la vibration, qui n’est pas forcément identique à celle donnée par votre identité complète.</p>

                    <div class="chart-pie pt-4 pb-2">
                        <canvas class="automaticBarChart"
                                data-labels="Physique,Émotive,Cérébrale,Intuitive"
                                data-values="{{ lettersChartValues.public|join(',') }}">
                        </canvas>
                    </div>
                    <p class="text-center"><small><em>Ce graphique affiche les excès ou les manques relatifs à la moyenne de chaque type de lettre.</em></small></p>

                    <br>

                    {% if lettersSynthesis.public|default and lettersSynthesis.public|length == 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans})|raw }}
                        </p>
                    {% elseif lettersSynthesis.public|default and lettersSynthesis.public|length > 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersSynthesis.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersSynthesis.public.1)|trans})|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(0)|raw }}
                        </p>
                    {% endif %}

                    <br>

                    {% if lettersDifferences.public|default %}
                        <ul>
                            {% for public, value in lettersDifferences.public %}
                                <li>{{ ('analysis.show.letters.'~public~'.'~(value >= 0 ? 'excess' : 'lack'))|trans|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="accordion mb-2" id="accordionPrivate">
        <div class="card">
            <div class="card-header" id="headingPrivate">
                <h6 class="mb-0">
                    <a class="d-flex justify-content-between align-items-center" href="#" data-toggle="collapse" data-target="#collapsePrivate" aria-expanded="true" aria-controls="collapsePrivate">
                        Votre personnalité réelle : tous les noms et prénoms
                    </a>
                </h6>
            </div>

            <div id="collapsePrivate" class="collapse" aria-labelledby="headingPrivate" data-parent="#accordionPrivate">
                <div class="card-body">
                    <p>C’est en intégrant votre identité complète que l’on peut connaître les véritables moteurs de votre comportement.</p>

                    <div class="chart-pie pt-4 pb-2">
                        <canvas class="automaticBarChart"
                                data-labels="Physique,Émotive,Cérébrale,Intuitive"
                                data-values="{{ lettersChartValues.private|join(',') }}">
                        </canvas>
                    </div>
                    <p class="text-center"><small><em>Ce graphique affiche les excès ou les manques relatifs à la moyenne de chaque type de lettre.</em></small></p>

                    <br>

                    {% if lettersSynthesis.private|default and lettersSynthesis.private|length == 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersSynthesis.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.0)|trans})|raw }}
                        </p>
                    {% elseif lettersSynthesis.private|default and lettersSynthesis.private|length > 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersSynthesis.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersSynthesis.private.1)|trans})|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.private'|transchoice(0)|raw }}
                        </p>
                    {% endif %}

                    <br>

                    {% if lettersDifferences.private|default %}
                        <ul>
                            {% for private, value in lettersDifferences.private %}
                                <li>{{ ('analysis.show.letters.'~private~'.'~(value >= 0 ? 'excess' : 'lack'))|trans|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>