{% extends '@Site/base.html.twig' %}

{% block title %}
    Paiement de votre étude
{% endblock %}

{% block bodyAttr %}class="tryPage"{% endblock bodyAttr %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Paiement de votre étude numérologique complète</h5>

                            <div class="row">
                                <div class="col-lg-12">
                                    <p>
                                        Pour accéder à votre étude numérologique complète, cliquez sur le bouton ci-dessous.
                                        Vous serez redirigé vers le site de notre partenaire de paiement sécurisé Paypal.com.
                                    </p>
                                </div>

                                <div class="col-lg-12">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Produit</th>
                                                <th scope="col">Prix HT</th>
                                                <th scope="col">Taux TVA</th>
                                                <th scope="col">Prix TTC</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Étude numérologique complète<br>"<em>{{ subject }}</em>"</td>
                                                <td>{{ (9.9 - (5 / 100 * 9.9))|localizedcurrency('EUR') }}</td>
                                                <td>{{ 5.5|number_format(1, ',', ' ') }} %</td>
                                                <td>{{ 9.9|localizedcurrency('EUR') }}</td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <em>Transaction sécurisée par notre partenaire de paiement Paypal</em>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="col-lg-12 row">
                                    <div class="col-lg-8">
                                        <img height="50px" src="{{ asset('bundles/site/img/payment-rassurance.png') }}" alt="">
                                    </div>
                                    <div class="col-lg-4 text-right">
                                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                            <input type="hidden" name="cmd" value="_s-xclick">
                                            <input type="hidden" name="hosted_button_id" value="{{ pp_hosted_btn_id }}">
                                            <input type="image" src="{{ asset('bundles/site/img/payment-simplest.png') }}" name="submit" alt="PayPal, le réflexe sécurité pour payer en ligne" class="paymentButton">
                                            <img alt="" src="https://www.paypalobjects.com/fr_FR/i/scr/pixel.gif" width="1" height="1">
                                        </form>
                                    </div>
                                </div>

                                <div class="col-lg-12 text-center">
                                    <hr>
                                    <a href="{{ path('site_payment_roll_back') }}" class="btn btn-link">
                                        <small><em>Ou accédez directement à votre étude numérologique gratuite incomplète.</em></small>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body %}