{% extends '@Site/base.html.twig' %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block bodyAttr %}class="showPage"{% endblock bodyAttr %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-9 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            {% if fileExists('bundles/site/img/'~subject.hash~'.png') %}
                                <div class="crop mx-auto">
                                    <img src="{{ asset('bundles/site/img/'~subject.hash~'.png') }}" alt="{{ subject }}">
                                </div>
                            {% endif %}

                            <h5 class="card-title text-center mt-4">
                                {{ subject }}
                                <br>{% if subject.pseudos is not empty and subject.pseudos.0|default %}
                                    {{ subject.pseudos|join(', ') }}<br>
                                {% endif %}
                                <small>{{ subject.birthDate|localizeddate('long', 'short', 'fr') }} (UTC {{ subject.UTCBirthDate|date('d/m/Y H:i:s', 'GMT') }}), {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</small>
                            </h5>

                            {% if 'premium' == subject.level %}
                                <div class="row mx-auto premium-item" id="premium-badge">
                                    <i class="fa fa-3x fa-medal" title="Étude complète - offre premium"></i>
                                </div>

                                <div class="row mx-auto premium-item" id="premium-print">
                                    <a href="{{ path('site_export_pdf', {'hash': subject.hash}) }}" title="Télécharger la version imprimable">
                                        <i class="fa fa-2x fa-print"></i>
                                    </a>
                                </div>
                            {% endif %}

                            <div class="row mx-auto premium-item" id="free-premium-copy">
                                <a href="javascript:void(0);" title="Copier le lien permanent de cette étude">
                                    <i class="fa fa-2x fa-paste"></i>
                                </a>
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_identite.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_lettres.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_vibrations.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row mx-auto">
                                {% include '@Site/Default/_'~subject.level~'_lifepath.html.twig' with {'subject': subject} %}
                            </div>

                            {% if 'free' == subject.level %}
                                <div class="row" id="premium">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <h5>Cette étude est incomplète - débloquez les informations manquantes</h5>
                                            Recevez une <strong>analyse complète et détaillée</strong> de vos paramètres de vie en quelques clics.
                                            <br>
                                            Vous recevrez également un <strong>lien permanent vers votre étude</strong> à jour de nos dernières évolutions, que vous pourrez consulter à volonté.
                                            <br><br>
                                            <a href="{{ path('site_payment', {'hash': subject.hash}) }}" class="btn btn-info">Commander pour 8.80€</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body %}