{% extends '@Site/base.html.twig' %}

{% block title %}
    {{ subject }}
{% endblock %}

{% block bodyAttr %}class="showPage"{% endblock bodyAttr %}

{% block body %}
    <header class="masthead">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-11 mx-auto">
                    <div class="card card-signin flex-row my-5">
                        <div class="card-body">
                            {% if fileExists('bundles/site/img/'~subject.hash~'.png') %}
                                <div class="crop mx-auto">
                                    <img src="{{ asset('bundles/site/img/'~subject.hash~'.png') }}" alt="{{ subject }}">
                                </div>
                            {% endif %}

                            <h5 class="card-title text-center mt-4">
                                {{ subject }}
                                <br>{% if subject.pseudos is not empty and subject.pseudos.0|default %}
                                    {{ subject.pseudos|join(', ') }}<br>
                                {% endif %}
                                <small>{{ subject.birthDate|localizeddate('long', 'short', 'fr') }} (UTC {{ subject.UTCBirthDate|date('d/m/Y H:i:s', 'GMT') }}), {{ subject.birthPlace }} ({{ subject.birthPlaceCoordinates|coordsToText }})</small>
                            </h5>

                            {% if 'premium' == subject.level %}
                                <div class="row mx-auto premium-item" id="premium-badge">
                                    <i class="fa fa-3x fa-medal" title="Étude complète - offre premium"></i>
                                </div>

                                <div class="row mx-auto premium-item" id="premium-print">
                                    <a href="{{ path('site_export_pdf', {'hash': subject.hash}) }}" title="Télécharger la version imprimable">
                                        <i class="fa fa-2x fa-print"></i>
                                    </a>
                                </div>
                            {% elseif 'pending' == subject.status %}
                                <div class="row mx-auto premium-item" id="premium-pending">
                                    <i class="fas fa-2x fa-hourglass-half" title="En attente de paiement"></i>
                                </div>
                            {% endif %}

                            <div class="row mx-auto premium-item" id="free-premium-copy">
                                <a href="javascript:void(0);" title="Copier le lien permanent de cette étude">
                                    <i class="fa fa-2x fa-paste"></i>
                                </a>
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_identite.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_lettres.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row">
                                {% include '@Site/Default/_'~subject.level~'_vibrations.html.twig' with {'subject': subject} %}
                            </div>

                            <div class="row mx-auto">
                                {% include '@Site/Default/_'~subject.level~'_lifepath.html.twig' with {'subject': subject} %}
                            </div>

                            {% if 'free' == subject.level and 'pending' != subject.status %}
                                <div class="row" id="premium">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <h5>Cette étude est incomplète - débloquez les informations manquantes</h5>
                                            Recevez une <strong>analyse complète et détaillée</strong> de vos paramètres de vie en quelques clics.
                                            <br>
                                            Vous recevrez également un <strong>lien permanent vers votre étude</strong> à jour de nos dernières évolutions, que vous pourrez consulter à volonté.
                                            <br><br>
                                            <a href="{{ path('site_payment', {'hash': subject.hash}) }}" class="btn btn-info">Commander pour 14.90 €</a>
                                        </div>
                                    </div>
                                </div>
                            {% elseif 'pending' == subject.status %}
                                <div class="row" id="premium">
                                    <div class="col-md-12">
                                        <div class="alert alert-warning" role="alert">
                                            <h5>Cette étude est en attente de paiement</h5>
                                            Revenez sur cette page régulièrement pour accéder à tous les résultats lorsque celle-ci aura été débloquée.
                                            <br>
                                            Vous pouvez également retourner sur la page de confirmation de commande pour choisir un autre mode de paiement.
                                            <br><br>
                                            <a href="{{ path('site_payment', {'hash': subject.hash}) }}" class="btn btn-info">Choisir un autre mode de paiement</a>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}

                            <hr class="divider my-4">

                            <div class="row mx-auto" id="reassurance">
                                <div class="col-md-12 text-center mb-4">
                                    <p class="font-weight-light mb-0">
                                        <a href="http://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" class="text-muted text-decoration-none" rel="noopener">Pour compléter votre analyse numérologique,
                                            <br>découvrez l’ouvrage de Jean-Michel Mazaudier aux Editions Bussière
                                            <br> « La numérologie essentielle : héritages et parcours de vie »</a>
                                    </p>
                                </div>

                                <div class="col-md-12 text-center mb-4">
                                    <a href="http://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" target="_blank" class="text-decoration-none" rel="noopener">
                                        <img src="{{ asset('bundles/site/img/numerologie-essentielle-heritages-et-parcours-de-v.png') }}" alt="book-cover" title="book cover" loading="lazy">
                                    </a>
                                </div>
                            </div>

                            <hr class="divider my-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock body %}