<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jean-Michel Mazaudier">

        <title>{% block title %}Votre numérologie en ligne{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('compiled/site.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>

    <body id="page-top" {% block bodyAttr %}{% endblock bodyAttr %}>
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('site_homepage') }}#page-top">Numérologie</a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        {% block navbar %}{% endblock navbar %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock body %}

        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">Copyright &copy; Jean-Michel Mazaudier 2019</div>
                <div class="small text-center text-muted"><span class="mr-2 d-none d-lg-inline text-gray-600 small"><em>Date de dernière mise à jour : {% include 'latest.html.twig' %}</em></span></div>
            </div>
        </footer>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("compiled/common.js") }}"></script>
            <script type="text/javascript" src="{{ asset("compiled/site.js") }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
