<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Numérologie en ligne accessible à tous. Offre gratuite, complète ou professionnelle sans engagement.">
        <meta name="author" content="Jean-Michel Mazaudier">
        <meta name="google-site-verification" content="{{ gsc_verif_id }}" />

        <title>Numérologique - {% block title %}Votre numérologie en ligne{% endblock %}</title>

        {% block stylesheets %}
            <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet">
            <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
            <link rel="stylesheet" href="{{ asset('compiled/site.min.css') }}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
    </head>

    <body id="page-top" {% block bodyAttr %}{% endblock bodyAttr %}>
        <a class="float" data-toggle="collapse" href="#book-cover" role="button" aria-expanded="false" aria-controls="book-cover">
            <i class="fa fa-2x fa-question my-float"></i>
        </a>

        <div class="collapse" id="book-cover">
            <div class="card card-body align-items-center justify-content-center text-center">
                <a href="http://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" target="_blank" class="text-decoration-none" rel="noopener">
                    <img src="{{ asset('bundles/site/img/numerologie-essentielle-heritages-et-parcours-de-v.png') }}" alt="book-cover">
                </a>

                <div class="row">
                    <div class="col-lg-12">
                        <hr class="divider my-4">

                        <p class="font-weight-light mb-0">
                            <a href="http://www.editions-bussiere.com/home/748-numerologie-essentielle-heritages-et-parcours-de-vie-9782850907227.html" class="text-muted text-decoration-none">Toutes nos analyses sont issues de l'ouvrage "<em>La Numérologie Essentielle - Héritages et parcours de vie</em>" de Jean-Michel Mazaudier aux éditions Bussière</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="{{ path('site_homepage') }}#page-top">Numérologie</a>

                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto my-2 my-lg-0">
                        {% block navbar %}{% include '@Site/Commons/_nav.html.twig' %}{% endblock navbar %}
                    </ul>
                </div>
            </div>
        </nav>

        {% block body %}{% endblock body %}

        <footer class="bg-light py-5">
            <div class="container">
                <div class="small text-center text-muted">
                    <a href="{{ path('site_page', {'slug': 'mentions-legales'}) }}">Copyright &copy; Jean-Michel Mazaudier 2019</a>
                </div>
                <div class="small text-center text-muted">
                    <span class="mr-2 d-none d-lg-inline text-gray-600 small"><em>Date de dernière mise à jour : {% include 'latest.html.twig' %}</em></span>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            <script type="text/javascript" src="{{ asset("compiled/common.min.js") }}"></script>
            <script type="text/javascript" src="{{ asset("compiled/site.min.js") }}"></script>
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {% endblock %}
    </body>
</html>
