<table class="table automatic-table" id="historyTable" data-page-length='5'>
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Date de modification</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for subject in subjects %}
            <tr>
                <td>{% if subject.userId == app.user.id %}<i class="fa fa-user-shield"></i>&nbsp;{% else %}<i class="fa fa-ban"></i>&nbsp;{% endif %}</td>
                <td>
                    <a href="{{ url('extranet_show', {'hash': subject.hash}) }}" title="Afficher" class="btn">{{ subject }}</a>
                </td>
                <td>Le {{ subject.createdAt|date('d/m/Y \à H:m') }}</td>
                <td>
                    <a href="{{ url('extranet_show', {'hash': subject.hash}) }}" title="Afficher" class="btn btn-success btn-circle btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    <a href="{{ url('extranet_edit', {'hash': subject.hash}) }}" title="Modifier" class="btn btn-primary btn-circle btn-sm">
                        <i class="fas fa-pen"></i>
                    </a>
                    <a href="{{ path('extranet_export_pdf', {'hash': subject.hash}) }}" title="Télécharger pour imprimer" class="btn btn-info btn-circle btn-sm">
                        <i class="fas fa-print"></i>
                    </a>
                    <a href="{{ url('extranet_delete', {'hash': subject.hash}) }}" title="Supprimer" class="btn btn-danger btn-circle btn-sm">
                        <i class="fas fa-times"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
