<table class="table automatic-table" id="historyTable" data-page-length='5'>
    <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th>Provenance</th>
            {% endif %}
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
    </thead>

    <tbody>
        {% for subject in subjects %}
            <tr>
                <td><i class="fa fa-{% if subject.userId == app.user.id and subject.example != '1' %}lock-open{% else %}lock{% endif %}"></i>&nbsp;</td>
                <td>
                    <a href="{{ url('extranet_show', {'hash': subject.hash}) }}" title="Afficher" class="btn">{{ subject }}</a>
                </td>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>
                        {% if subject.level == 'free' %}
                            Gratuit
                        {% elseif subject.level == 'premium' and subject.userId|default %}
                            Pro
                        {% else %}
                            Complet
                        {% endif %}
                    </td>
                {% endif %}
                <td>Le {{ subject.createdAt|date('d/m/Y \à H:m') }}</td>
                <td>
                    <a href="{{ url('extranet_show', {'hash': subject.hash}) }}" title="Afficher" class="btn btn-success btn-circle btn-sm">
                        <i class="fas fa-eye"></i>
                    </a>
                    {% if subject.userId == app.user.id or is_granted('ROLE_ADMIN') %}
                        <a href="{{ url('extranet_edit', {'hash': subject.hash}) }}" title="Modifier" class="btn btn-primary btn-circle btn-sm">
                            <i class="fas fa-pen"></i>
                        </a>
                    {% endif %}
                    <a href="{{ path('site_export_pdf', {'hash': subject.hash}) }}" title="Télécharger pour imprimer" class="btn btn-info btn-circle btn-sm">
                        <i class="fas fa-print"></i>
                    </a>
                    {% if subject.userId == app.user.id and subject.example != '1' %}
                        <a href="{{ url('extranet_delete', {'hash': subject.hash}) }}" title="Supprimer" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-times"></i>
                        </a>
                    {% endif %}
                    {% if editExamples|default and is_granted('ROLE_ADMIN') %}
                        {% if subject.example == '1' %}
                            <a href="javascript:void(0);" title="Ne plus marquer comme exemple" class="btn btn-warning btn-circle btn-sm exemplarize" data-hash="{{ subject.hash }}">
                                <i class="fas fa-globe"></i>
                            </a>
                        {% else %}
                            <a href="javascript:void(0);" title="Marquer comme exemple" class="btn btn-secondary btn-circle btn-sm exemplarize" data-hash="{{ subject.hash }}">
                                <i class="fas fa-globe"></i>
                            </a>
                        {% endif %}
                    {% endif %}
                    <a href="{{ url('site_show', {'hash': subject.hash}) }}" target="_blank" title="Voir sur le site public" class="btn btn-outline-secondary btn-circle btn-sm">
                        <i class="fas fa-link"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
