{% if mode|default and 'compact' == mode %}
    {% set compact = true %}
{% endif %}

<div class="row">
    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %}">
        <div class="card shadow mb-4">
            <div class="card-body text-center">
                {% if lettersDifferences.public|default %}
                    {% if lettersDifferences.public|length == 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersDifferences.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersDifferences.public|keys.0)|trans})|raw }}
                        </p>
                    {% elseif lettersDifferences.public|length > 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.public'|transchoice(lettersDifferences.public|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersDifferences.public|keys.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersDifferences.public|keys.1)|trans})|raw }}
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %}">
        <div class="card shadow mb-4">
            <div class="card-body text-center">
                {% if lettersDifferences.private|default %}
                    {% if lettersDifferences.private|length == 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersDifferences.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersDifferences.private|keys.0)|trans})|raw }}
                        </p>
                    {% elseif lettersDifferences.private|length > 1 %}
                        <p>
                            {{ 'analysis.show.letters.synthesis.private'|transchoice(lettersDifferences.private|length, {'%1%': ('analysis.show.letters.synthesis.'~lettersDifferences.private|keys.0)|trans, '%2%': ('analysis.show.letters.synthesis.'~lettersDifferences.private|keys.1)|trans})|raw }}
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %}">
        <div class="card shadow mb-4">
            <a href="#collapseName" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseName">
                <h6 class="m-0 font-weight-bold text-primary">
                    Votre personnalité apparente : nom et prénom d'usage
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseName">
                <div class="card-body">
                    <p>La personnalité apparente est celle que les autres connaissent et dont ils ressentent la vibration, qui n’est pas forcément identique à celle donnée par votre identité complète.</p>

                    <div class="chart-pie pt-4 pb-2">
                        <canvas class="automaticBarChart"
                                data-labels="Physique,Émotive,Cérébrale,Intuitive"
                                data-values="{{ lettersChartValues.public|join(',') }}">
                        </canvas>
                    </div>
                    <p class="text-center"><small><em>Ce graphique affiche les excès ou les manques relatifs à la moyenne de chaque type de lettre.</em></small></p>

                    <br>
                    {% if lettersDifferences.public|default %}
                        <ul>
                            {% for public in lettersDifferences.public %}
                                <li>{{ public|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %}">
        <div class="card shadow mb-4">
            <a href="#collapseAllNames" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseAllNames">
                <h6 class="m-0 font-weight-bold text-primary">
                    Votre personnalité réelle : tous les noms et prénoms
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseAllNames">
                <div class="card-body">
                    <p>C’est en intégrant votre identité complète que l’on peut connaître les véritables moteurs de votre comportement.</p>
                    <div class="chart-pie pt-4 pb-2">
                        <canvas class="automaticBarChart"
                                data-labels="Physique,Émotive,Cérébrale,Intuitive"
                                data-values="{{ lettersChartValues.private|join(',') }}">
                        </canvas>
                    </div>
                    <p class="text-center"><small><em>Ce graphique affiche les excès ou les manques relatifs à la moyenne de chaque type de lettre.</em></small></p>

                    <br>
                    {% if lettersDifferences.private|default %}
                        <ul>
                            {% for public in lettersDifferences.private %}
                                <li>{{ public|raw }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a href="#collapsePhysical" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapsePhysical">
                <h6 class="m-0 font-weight-bold text-primary">
                    Lettres physiques, émotives, cérébrales et intuitives : définitions
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapsePhysical">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-3">
                            <a href="#" class="list-group-item-action flex-column align-items-start disabled-btn">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Lettres physiques</h5>
                                </div>

                                <p class="mb-1">{{ getDefinition('physical')|raw }}</p>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="#" class="list-group-item-action flex-column align-items-start disabled-btn">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Lettres émotives</h5>
                                </div>

                                <p class="mb-1">{{ getDefinition('emotional')|raw }}</p>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="#" class="list-group-item-action flex-column align-items-start disabled-btn">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Lettres cérébrales</h5>
                                </div>

                                <p class="mb-1">{{ getDefinition('brain')|raw }}</p>
                            </a>
                        </div>

                        <div class="col-md-3">
                            <a href="#" class="list-group-item-action flex-column align-items-start disabled-btn">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">Lettres intuitives</h5>
                                </div>

                                <p class="mb-1">{{ getDefinition('intuitive')|raw }}</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
