{% if mode|default and 'compact' == mode %}
    {% set compact = true %}
{% endif %}

<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <a href="#collapseGlobalNumber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseGlobalNumber">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombre global
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.identity.globalNumber }}
                    </span>
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseGlobalNumber">
                <div class="card-body">
                    <p class="mb-3">{{ getDefinition('global')|raw }}</p>
                    <p>{{ subject.data.identity.globalNumber|getAnalysis('global')|raw }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %}">
        <div class="card shadow mb-4">
            <a href="#collapseInheritedNumber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseInheritedNumber">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombre héréditaire
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.identity.inheritedNumber }}
                    </span>
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseInheritedNumber">
                <div class="card-body">
                    <p class="mb-3">{{ getDefinition('inherited')|raw }}</p>
                    <p>{{ subject.data.identity.inheritedNumber|getAnalysis('inherited')|raw }}</p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseDutyNumber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseDutyNumber">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombre de mission
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.identity.dutyNumber }}
                    </span>
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseDutyNumber">
                <div class="card-body">
                    <p class="mb-3">{{ getDefinition('duty')|raw }}</p>
                    <p>{{ subject.data.identity.dutyNumber|getAnalysis('duty')|raw }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-{% if compact|default %}12{% else %}6{% endif %} mb-4">
        <div class="card shadow mb-4">
            <a href="#collapseSocialNumber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseSocialNumber">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombre social
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.identity.socialNumber }}
                    </span>
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseSocialNumber">
                <div class="card-body">
                    <p class="mb-3">{{ getDefinition('social')|raw }}</p>
                    <p>{{ subject.data.identity.socialNumber|getAnalysis('social')|raw }}</p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseStructureNumber" class="d-block card-header py-3" data-toggle="collapse" role="button" aria-expanded="true" aria-controls="collapseStructureNumber">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombre de structure
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.identity.structureNumber }}
                    </span>
                </h6>
            </a>

            <div class="collapse{% if not compact|default %} show{% endif %}" id="collapseStructureNumber">
                <div class="card-body">
                    <p class="mb-3">{{ getDefinition('structure')|raw }}</p>
                    <p>{{ subject.data.identity.structureNumber|getAnalysis('structure')|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</div>