{% if mode|default and 'compact' == mode %}
    {% set compact = true %}
{% endif %}
{% set fullNames = subject.fullNames|replace({' ': ''}) %}

<div class="row">
    <div class="col-lg-{% if compact|default %}12{% else %}7{% endif %}">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Vibrations de soutien
                </h6>
            </div>

            <div class="card-body">
                <p>
                    <strong>Les nombres les plus fréquents (nombres forts) ont une influence importante sur la personnalité et le comportement de l’individu, tandis que ceux qui sont manquants ne soutiennent pas la vibration des noms et prénoms.</strong>
                </p>

                <ul>
                    {% if identity['strong']|default|length > 0 %}
                        <li>{{ 'analysis.show.vibrations.identity.strong'|transchoice(identity['strong']|length, {'%1%': identity['strong']|natJoin(', '), '%2%' : identity['strong']|keys|natJoin(', ')})|raw }}</li>
                    {% endif %}

                    {% if identity['missingIn']|default|length > 0 or identity['missingOut']|default|length > 0 %}
                        <li>Nombres manquants :
                            <ul>
                                {% if identity['missingIn']|default|length > 0 %}
                                    <li>{{ 'analysis.show.vibrations.identity.missingIn'|transchoice(identity['missingIn']|length, {'%1%': identity['missingIn']|keys|natJoin(', '), '%2%': identity['missingIn']|natJoin(', '), '%3%': identity['missingIn']|natJoin(', ')})|raw }}</li>
                                {% endif %}

                                {% if identity['missingOut']|default|length > 0 %}
                                    <li>{{ 'analysis.show.vibrations.identity.missingOut'|transchoice(identity['missingOut']|length, {'%1%': identity['missingOut']|natJoin(', ')}) }}</li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    {% if identity['weak']|default|length > 0 %}
                        <li>{{ 'analysis.show.vibrations.identity.weak'|transchoice(identity['weak']|length, {'%1%': identity['weak']|keys|natJoin(', ')}) }}</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-{% if compact|default %}12{% else %}5{% endif %}">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Rappel des nombres de l'identité
                </h6>
            </div>

            <div class="card-body text-center">
                <p>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn {% if subject.data.identity.globalNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.globalNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                        <span class="icon">{{ subject.data.identity.globalNumber }}</span>
                        <span class="text">Nombre global</span>
                    </a>
                </p>

                <div class="row">
                    <div class="col-md-6">
                        <p>
                            <a href="#" class="btn btn-info btn-icon-split disabled-btn {% if subject.data.identity.inheritedNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.inheritedNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                <span class="icon">{{ subject.data.identity.inheritedNumber }}</span>
                                <span class="text">Nombre héréditaire</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" class="btn btn-info btn-icon-split disabled-btn {% if subject.data.identity.dutyNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.dutyNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                <span class="icon">{{ subject.data.identity.dutyNumber }}</span>
                                <span class="text">Nombre de mission</span>
                            </a>
                        </p>
                    </div>

                    <div class="col-md-6">
                        <p>
                            <a href="#" class="btn btn-info btn-icon-split disabled-btn {% if subject.data.identity.socialNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.socialNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                <span class="icon">{{ subject.data.identity.socialNumber }}</span>
                                <span class="text">Nombre social</span>
                            </a>
                        </p>
                        <p>
                            <a href="#" class="btn btn-info btn-icon-split disabled-btn {% if subject.data.identity.structureNumber in fullNames|numerosLettresManquantes %}blue{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFaibles %}yellow{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresMoyennes %}orange{% elseif subject.data.identity.structureNumber in fullNames|numerosLettresFortes %}red{% endif %}">
                                <span class="icon">{{ subject.data.identity.structureNumber }}</span>
                                <span class="text">Nombre de structure</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">
                    Nombres forts, manquants et faibles
                </h6>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <table class="vibrationsTable">
                            <tr>
                                {% for i in 1..9 %}
                                <td class="{% if i in fullNames|numerosLettresManquantes %}blue{% elseif i in fullNames|numerosLettresFaibles %}yellow{% elseif i in fullNames|numerosLettresMoyennes %}orange{% elseif i in fullNames|numerosLettresFortes %}red{% endif %}">{{ i }}</td>
                                {% if i % 3 == 0 and i < 9 %}
                            </tr>

                            <tr>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>

                    <div class="col-md-6 row">
                        <div class="col-md-12 vibrationsLegend">
                            <p class="red">Nombres forts</p>
                            <p class="orange">Nombres moyens</p>
                        </div>

                        <div class="col-md-12 vibrationsLegend">
                            <p class="yellow">Nombres faibles</p>
                            <p class="blue">Nombres manquants</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
