{% extends '@Extranet/base.html.twig' %}

{% block title %}
    Numérologie - Édition
{% endblock %}

{% block pagesubtitle %}
    <a href="{{ path('extranet_show', {'hash': subject.hash}) }}" class="btn btn-light btn-icon-split">
        <span class="icon text-gray-600">
            <i class="fa fa-arrow-left"></i>
        </span>
        <span class="text">Voir la numérologie de {{ subject }}</span>
    </a>
{% endblock pagesubtitle %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Modification des données
                    </h6>
                </div>

                <div class="card-body">
                    {% form_theme form '@Extranet/Analysis/_form_theme.html.twig' %}

                    {{ form_start(form) }}
                    {{ form_errors(form) }}
                    {{ form_rest(form) }}

                    <button type="submit" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50"><i class="fas fa-check"></i></span>
                        <span class="text">Valider les modifications</span>
                    </button>

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
