<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Numérologie - {{ subject }}</title>

        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <link rel="stylesheet" href="{{ 'https://' ~ app.request.httpHost ~ asset('compiled/extranet.css') }}">
    </head>

    <body id="page-top">
        <div id="wrapper">
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <div class="container-fluid">
                        <div class="d-sm-flex align-items-center justify-content-between mb-4">
                            <h1 class="h3 mb-0 text-gray-800">
                                {{ subject }}
                            </h1>
                        </div>

                        {% include '@Extranet/Analysis/_resume_identite.html.twig' with {'subject': subject} %}
                        {% include '@Extranet/Analysis/_identite.html.twig' with {'subject': subject} %}
                        {% include '@Extranet/Analysis/_resume_lettres.html.twig' with {'subject': subject} %}
                        {% include '@Extranet/Analysis/_lettres.html.twig' with {'subject': subject} %}
                        {% include '@Extranet/Analysis/_vibrations.html.twig' with {'subject': subject} %}
                    </div>
                </div>

                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Jean-Michel Mazaudier 2019</span>
                        </div>
                    </div>
                </footer>
            </div>
        </div>

        <script type="text/javascript" src="{{ asset("compiled/common.js") }}"></script>
        <script type="text/javascript" src="{{ asset("compiled/extranet.js") }}"></script>
    </body>
</html>
