<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{{ path('site_homepage') }}#about">À propos</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{{ path('site_homepage') }}#try">Obtenir votre étude</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{{ path('site_homepage') }}#pricing">Tarifs</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{{ path('site_homepage') }}#extranet">Espace client</a>
</li>
<li class="nav-item">
    <a class="nav-link js-scroll-trigger" href="{{ path('site_homepage') }}#contact">Contact</a>
</li>