{% if messages is not empty %}
    {% for message in messages %}
        {% set slackUser = message.user|getSlackUser %}
        <a class="dropdown-item d-flex align-items-center" href="{{ path('messages_show') }}">
            <div class="dropdown-list-image mr-3">
                <img class="rounded-circle" src="{{ slackUser.image_32 }}" alt="{{ slackUser.display_name }}">
            </div>

            <div>
                <div class="text-truncate">{{ message.text|truncate(33) }}</div>
                <div class="small text-gray-500">{{ slackUser.display_name }} · {{ message.ts|howLongAgo }}</div>
            </div>
        </a>
    {% endfor %}
{% else %}
    <a class="dropdown-item d-flex align-items-center" id="messageUnreadSpin" href="{{ path('messages_show') }}">
        <div class="font-weight-bold mx-auto">
            Vous n'avez pas de messages
        </div>
    </a>
{% endif %}