{% extends 'base.html.twig' %}

{% block title %}
    Numérologie - Votre messagerie
{% endblock %}

{% block body %}
    <div class="row conversation">
        {% if conversations|default %}
            {% for id, conversation in conversations %}
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Conversation {{ id }}</h6>
                        </div>

                        <div class="card-body">
                            {% if is_granted('ROLE_ADMIN') %}
                                {{ render(controller('AppBundle:Messages:renderConversationAdmin', {'conversation': conversation})) }}

                                <hr class="my-20">

                                <em>Pour répondre : <a href="https://mazaudier.slack.com/messages/{{ id }}/">https://mazaudier.slack.com/messages/{{ id }}/</a></em>
                            {% else %}
                                {{ render(controller('AppBundle:Messages:renderConversationUser', {'conversation': conversation})) }}

                                <hr class="my-20">

                                <form class="answer" name="form{{ id }}">
                                    <div class="form-row">
                                        <div class="col-md-12">
                                            <div class="input-group">
                                                <input type="text" class="form-control answerText" placeholder="Écrivez votre réponse ici">

                                                <div class="input-group-append">
                                                    <button class="btn btn-primary answerSubmit" type="submit" data-form="form{{ id }}">Répondre</button>
                                                </div>
                                            </div>

                                            <small class="form-text text-muted answerSentMessage d-none" data-form="form{{ id }}"></small>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Écrivez-nous</h6>
                    </div>

                    <div class="card-body">
                        <form class="answer" name="form0">
                            <div class="form-row">
                                <div class="col-md-12">
                                    <label>Votre messagerie est vide.<br><small><em>Vous avez une remarque ou une question ? Alors écrivez-nous vite !</em></small></label>

                                    <div class="input-group">
                                        <input type="text" class="form-control answerText" placeholder="Écrivez votre message ici">

                                        <div class="input-group-append">
                                            <button class="btn btn-primary answerSubmit" type="submit" data-form="form0">Envoyer</button>
                                        </div>
                                    </div>

                                    <small class="form-text text-muted answerSentMessage d-none" data-form="form0"></small>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock body %}