<div class="row">
    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <div class="card-header py-3"à>
                <h6 class="m-0 font-weight-bold text-primary">
                    Paramètres du parcours de vie
                </h6>
            </div>

            <div class="card-body">
                <p>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.lifePathNumber }}</span>
                        <span class="text">Chemin de vie</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.idealNumber }}</span>
                        <span class="text">Nombre d'idéal</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.secretNumber }}</span>
                        <span class="text">Nombre secret</span>
                    </a>
                </p>

                <p>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.majorTurnNumber }} ans</span>
                        <span class="text">Tournant majeur</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.personalYearNowNumber }}</span>
                        <span class="text">Année personnelle {{ "now"|date('Y') }}</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.astrologicalNumber }}</span>
                        <span class="text">Nombre astrologique</span>
                    </a>
                </p>

                <p>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.veryShortTermNumber }}</span>
                        <span class="text">Nombre du très court terme</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.shortTermNumber }}</span>
                        <span class="text">Nombre du court terme</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.meanTermNumber }}</span>
                        <span class="text">Nombre du moyen terme</span>
                    </a>
                    <a href="#" class="btn btn-info btn-icon-split disabled-btn mb-2">
                        <span class="icon text-white-50">{{ subject.data.lifePath.longTermNumber }}</span>
                        <span class="text">Nombre du long terme</span>
                    </a>
                </p>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample0" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample0">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.lifePathNumber }}
                    </span>
                    Chemin de vie
                </h6>
            </a>

            <div class="collapse" id="collapseCardExample0" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('lifepath')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample1" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample1">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.idealNumber }}
                    </span>
                    Nombre d'idéal
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample1" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('ideal')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample2" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample2">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.majorTurnNumber }}
                    </span>
                    Tournant majeur
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample2" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('majorturn')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample3" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample3">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.personalYearNowNumber }}
                    </span>
                    Année personnelle {{ "now"|date('Y') }}
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample3" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('personalyearnow')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample4" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample4">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.astrologicalNumber }}
                    </span>
                    Nombre astrologique
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample4" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('astrological')|raw }}</em></small></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="card shadow mb-4">
            <a href="#collapseCardExample5" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample5">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.veryShortTermNumber }}
                    </span>
                    Nombre du très court terme
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample5" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('veryshortterm'|raw) }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample6" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample6">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.shortTermNumber }}
                    </span>
                    Nombre du court terme
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample6" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('shortterm')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample7" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample7">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.meanTermNumber }}
                    </span>
                    Nombre du moyen terme
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample7" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('meanterm')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample8" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample8">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.longTermNumber }}
                    </span>
                    Nombre du long terme
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample8" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('longterm')|raw }}</em></small></p>
                </div>
            </div>
        </div>

        <div class="card shadow mb-4">
            <a href="#collapseCardExample9" class="d-block card-header py-3 collapsed" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseCardExample9">
                <h6 class="m-0 font-weight-bold text-primary">
                    <span href="javascript:void(0);" class="btn btn-primary btn-sm btn-circle">
                        {{ subject.data.lifePath.secretNumber }}
                    </span>
                    Nombre secret
                </h6>
            </a>
            <div class="collapse" id="collapseCardExample9" style="">
                <div class="card-body">
                    <p class="mb-3"><small><em>{{ getDefinition('secret')|raw }}</em></small></p>
                </div>
            </div>
        </div>
    </div>
</div>
